<section class="section">
    <div class="LSDiv">

      <h1>College Entrance Exam Management System</h1>
      <h1></h1>
      <h2>
        Login
      </h2>
      <div class="LSDivInpDiv">
        <span>Username</span>
        <input type="UserName" [(ngModel)]="username">
      </div>
      <div class="LSDivInpDiv">
        <span>Password</span>
        <input type="password" [(ngModel)]="password">
      </div>
      <div class="LSBtsDiv">
        <button (click)="login()" class="btn" > Submit </button>
      </div>  
      <br>
    <br>
    <br>
    Demo Login Student<br>
    username=abc<br>
    password=abc<br>
<br>
    Demo Login Exam coordinator<br>
    username=pratik<br>
    password=pratik
    </div>
    
  </section>